/* Header
  --------------------------*/
$--header-padding: 0 20px !default;

$--main-padding: 45px !default;

$--font-path: '../node_modules/element-ui/lib/theme-chalk/fonts';

@import "../node_modules/element-ui/packages/theme-chalk/src/index";
